---
---

<div
  class="flex bg-white dark:bg-muted-800 border border-gray-500 dark:border-muted-700 rounded divide-x divide-gray-500 dark:divide-muted-700 shadow-md shadow-primary/10 overflow-x-auto"
>
  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'all' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'all'"
  >
    <span>Tous</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'medical_furniture' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'medical_furniture'"
  >
    <span>Mobilier Médical</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'diagnostic' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'diagnostic'"
  >
    <span>Diagnostic</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'emergency' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'emergency'"
  >
    <span>Urgence</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'surgery' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'surgery'"
  >
    <span>Chirurgie</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'sterilisation' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'sterilisation'"
  >
    <span>Stérilisation</span>
  </button>

  <button
    class="group flex-1 flex items-center justify-center whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300 cursor-pointer"
    :class="activeCategory === 'medical_accessories' ? 'bg-primary/50 font-semibold' : ''"
    @click="activeCategory = 'medical_accessories'"
  >
    <span>Accessoires/Consommables</span>
  </button>
</div>
