@import "tailwindcss";


@theme {
    --color-primary: #0066cc;      /* True Blue */
    --color-secondary: #004c99;    /* Polynesian Blue */
    --color-blue-50: #E6F0FA;      /* Icy Blue */
    --color-blue-100: #D9E9F9;
    --color-blue-500: #0066cc;
    --color-blue-700: #005BB5;
    --color-blue-900: #004C99;
  
    --color-gray-50: #F8F9FA;      /* Background */
    --color-gray-100: #DDE1E6;
    --color-gray-900: #333333;
  
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error:   #DC3545;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px); /* optional: slight rise */
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

/*
@theme static {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --color-primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

}
*/



#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

/* Fonts */

.font-inter {
    font-family: "Inter"
}

.font-manrope {
    font-family: "Manrope Variable"
}

.font-ibm {
    font-family: "IBM Plex Sans"
}

.font-jakarta {
    font-family: "Plus Jakarta Sans"
}