---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/ui/Footer.astro";
import "../../styles/global.css";
import ProductCatalog from "../../components/catalog/ProductCatalog.jsx"
import { getCollection } from 'astro:content';

let products = await getCollection('productsFull');
const category = Astro.url.searchParams.get('category') || 'all';
console.log(Astro.url)
const url = new URL(Astro.request.url);
const category2 = url.searchParams.get('category') || null;
console.log(category2)
---

<Layout>
  <Header />
    <div class="w-full max-w-7xl mx-auto" data-aos="fade" data-aos-duration="300">
      <ProductCatalog products={products} initialCategory={category} client:load />
    </div>
  <Footer />
</Layout>

<script is:browser>
  const toolbar = document.getElementById("categories-toolbar");
  const filters = document.getElementById("filters");

  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > 250) {
      toolbar.classList.add("-translate-y-11");
      toolbar.classList.remove("translate-y-0");
    } else {
      toolbar.classList.remove("-translate-y-11");
      toolbar.classList.add("translate-y-0");
    }
  });
</script>