---
import Layout from "../layouts/Layout.astro";
import Header1 from "../components/Header1.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.css";
import ProductCatalog from "../components/catalog/ProductCatalog.jsx"
import { getCollection } from 'astro:content';
import { getImage } from 'astro:assets';

let products = await getCollection('products');

---

<Layout>
  <Header1 />

  <div class="w-full max-w-7xl mx-auto" data-aos="fade" data-aos-duration="300">
    <ProductCatalog products={products} client:load />
  </div>
  <Footer />
</Layout>

<script is:browser>
  const toolbar = document.getElementById("categories-toolbar");
  const filters = document.getElementById("filters");

  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > 250) {
      toolbar.classList.add("-translate-y-11");
      toolbar.classList.remove("translate-y-0");
      filters.classList.add("-translate-y-10");
      filters.classList.remove("translate-y-0");
    } else {
      toolbar.classList.remove("-translate-y-11");
      toolbar.classList.add("translate-y-0");
      filters.classList.remove("-translate-y-10");
      filters.classList.add("translate-y-0");
    }
  });
</script>