---
import Layout from "../layouts/Layout.astro";
import Header1 from "../components/Header1.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.css";
import Filters from "../components/catalog/Filters.astro";
import Toolbar from "../components/catalog/Toolbar.astro";
import Grid from "../components/catalog/Grid.astro";
---

<Layout>
  <Header1 />

  <div class="w-full max-w-7xl mx-auto" data-aos="fade" data-aos-duration="300">
    <div id="catalog" x-data="catalogUIState()">
      <div id="categories-toolbar" class="mt-27 sticky top-27 md:top-27 w-full z-50 transition-transform duration-1000 ease-in-out translate-y-0">
        <Toolbar />
      </div>

      <!--Grid wrapper-->
      <div class="py-6">
        <div class="flex grid grid-cols-12 md:gap-12 pb-20">
          <!--Filters-->
          <div id="filters" class="sticky self-start top-40 lg:block col-span-4 lg:col-span-3 transition-transform duration-1000 ease-in-out">
            <Filters />
          </div>
          <!--Content-->
          <div class="col-span-8 lg:col-span-9">
            <!--Subgrid-->
            <Grid />
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<script type="module">
  const validCategories = [
    "all",
    "general",
    "diagnostic_equipment",
    "surgery",
    "laboratory_equipment",
    "sterilization",
    "hospital_equipment"
  ];

  // Get the query param from the URL
  const params = new URLSearchParams(window.location.search);
  const categoryFromURL = params.get("category");

  // Default to 'all' if the value is invalid or missing
  const initialCategory = validCategories.includes(categoryFromURL)
    ? categoryFromURL
    : "all";
  
    function catalogUIState() {
    return {
      activeCategory: initialCategory,
      resetScroll() {
        window.scrollTo({ top: 350, behavior: "smooth" });
        return false;
      },
    };
  }
  window.catalogUIState = catalogUIState;
</script>

<script is:browser>
  const toolbar = document.getElementById("categories-toolbar");
  const filters = document.getElementById("filters");

  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > 250) {
      toolbar.classList.add("-translate-y-10");
      toolbar.classList.remove("translate-y-0");
      filters.classList.add("-translate-y-10");
      filters.classList.remove("translate-y-0");
    } else {
      toolbar.classList.remove("-translate-y-10");
      toolbar.classList.add("translate-y-0");
      filters.classList.remove("-translate-y-10");
      filters.classList.add("translate-y-0");
    }
  });
</script>