---
import Layout from "../layouts/Layout.astro";
import Header1 from "../components/Header1.astro";
import Footer from "../components/ui/Footer.astro";
import "../styles/global.css";
import Filters from "../components/catalog/Filters.astro";
import Toolbar from "../components/catalog/Toolbar.astro";
import Grid from "../components/catalog/Grid.astro";
---

<Layout>
  <Header1 />

  <div class="w-full max-w-7xl mx-auto">
    <div id="catalog" x-data="catalogUIState()">
      <Toolbar />

      <!--Grid wrapper-->
      <div class="py-10">
        <div class="grid grid-cols-12 md:gap-12 pb-20">
          <!--Filters-->
          <div class="lg:block col-span-4 lg:col-span-3">
            <Filters />
          </div>
          <!--Content-->
          <div class="col-span-8 lg:col-span-9">
            <!--Subgrid-->
            <Grid />
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<script type="module">
  function catalogUIState() {
    return {
      activeCategory: "all",
      resetScroll() {
        window.scrollTo({ top: 350, behavior: "smooth" });
        return false;
      },
    };
  }
  window.catalogUIState = catalogUIState;
</script>