---
import { Button } from "free-astro-components";
---

<section class="flex justify-center p-6 min-h-56 bg-gradient-to-r from-primary/25 to-primary/10">
  <div
    class="flex flex-col sm:flex-row gap-4 justify-center items-center"
    data-aos="fade-right"
    data-aos-delay="500"
    data-aos-duration="1000"
  >
    <div class="text-2xl font-semibold">
      Accédez dès maintenant à des solutions médicales fiables et certifiées, et
    </div>
    <div>
      <Button
        href="/galaxie-medicale/catalog"
        size="xl"
        label="Consultez notre catalogue"
        icon="arrow-right"
        iconPosition="right"
        class="text-white px-8 py-3 text-lg font-semibold rounded-lg transition-all duration-500 transform hover:scale-105 bg-primary hover:shadow-2xl shadow-primary/50 shadow-lg animate-[pulse_5s_linear_infinite]"
      />
    </div>
  </div>
</section>
