---
import { Icon } from "astro-icon/components";
import Card from "./ui/Card.astro";
import TypingDots from "./ui/TypingDots.astro";
import CardContent from "./ui/CardContent.astro";
---

<section class="py-10 bg-background">
  <div class="container mx-auto px-4"  data-aos="fade-up" data-aos-duration="1500">
    <h1 class="text-3xl font-bold text-center mb-6">Nos Services</h1>
    <div class="text-center text-2xl font-semibold mb-4">
      <div class="flex justify-center">
        <div>Plus qu’un fournisseur</div>
        <div class="px-2 mt-4">
          <TypingDots />
        </div>
        <div class="" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="1000">
          un partenaire technique et opérationnel de confiance
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="flex">
        <Card
          key="1"
          class="group transition-shadow transition-all duration-300 transform !shadow-md !rounded-md"
        >
          <CardContent className="justify-between text-left rounded-md !p-0">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4 text-white rounded-md bg-primary/90 !p-4">
              <Icon name="heroicons:wrench-screwdriver" class="min-w-12 min-h-12"/>
              <div class="text-center w-full">Installation & Support Technique</div>
            </div>
            <div class="leading-relaxed text-gray-900 !p-4 !pt-0">
              <span class="font-semibold">Installation sur site</span> et <span class="font-semibold">configuration complète</span> par notre équipe technique, pour une mise en service professionelle.
              <br>
              <br>
              Accompagnement fiable pour la <span class="font-semibold">maintenance</span>, les <span class="font-semibold">réparations</span> et tout <span class="font-semibold">conseil technique</span> dont vous pourriez avoir besoin.
            </div>
          </CardContent>
        </Card>
      </div>
      <div class="flex">
        <Card
          key="2"
          class="group transition-shadow transition-all duration-300 transform !shadow-md !rounded-md"
        >
          <CardContent className="justify-between text-left rounded-md !p-0">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4 text-white rounded-md bg-primary/90 !p-4">
              <Icon name="heroicons:user-group" class="min-w-12 min-h-12"/>
              <div class="text-center w-full">Démonstrations & Tests des Équipements</div>
            </div>
            <div class="leading-relaxed text-gray-900 !p-4 !pt-0">
              <span class="font-semibold">Démonstrations et tests guidés</span> pour vous permettre d’observer l’équipement en action.
              <br>
              <br>
              Vos équipes choisissent en toute sérénité la solution la mieux <span class="font-semibold">adaptée à vos besoins</span> techniques et opérationnels.
            </div>
          </CardContent>
        </Card>
      </div>
      <div class="flex">
        <Card
          key="3"
          class="group transition-shadow transition-all duration-300 transform !shadow-md !rounded-md"
        >
          <CardContent className="justify-between text-left rounded-md !p-0">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4 text-white rounded-md bg-primary/90 !p-4">
              <Icon name="heroicons:academic-cap" class="min-w-12 min-h-12"/>
              <div class="text-center w-full">Formation & Transfert de Compétences</div>
            </div>
            <div class="leading-relaxed text-gray-900 !p-4 !pt-0">
              <span class="font-semibold">Formations pratiques et adaptées</span>, pour maximiser l’efficacité et la maîtrise de vos équipements.
              <br>
              <br>
              Nous accompagnons le transfert des compétences afin d’assurer une <span class="font-semibold">utilisation sûre et fluide</span> en contexte clinique.
            </div>
          </CardContent>
        </Card>
      </div>
    </div>
  </div>
</section>
