---
import { Icon } from "astro-icon/components";
import Card from "./ui/Card.astro";
import CardContent from "./ui/CardContent.astro";
---

<section class="py-10 bg-background">
  <div class="container mx-auto px-4">
    <div class="text-center mb-4">
      <h2 class="text-4xl font-bold text-foreground mb-1">Plus qu’un fournisseur...</h2>
      <p class="text-xl text-muted-foreground max-w-6xl mx-auto">
        Un partenaire technique et opérationnel de confiance.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="flex">
        <Card
          key="1"
          class="group transition-shadow transition-all duration-300 transform shadow-md"
        >
          <CardContent className="justify-between text-center">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4 text-primary">
              <Icon name="heroicons:wrench-screwdriver" class="min-w-12 min-h-12"/>
              Installation & Support Technique
            </div>
            <div class="leading-relaxed text-gray-900">
              <span class="font-semibold">Installation sur site</span> et <span class="font-semibold">configuration complète</span> par notre équipe technique, pour une mise en service professionelle.
              <br>
              <br>
              Accompagnement fiable pour la <span class="font-semibold">maintenance</span>, les <span class="font-semibold">réparations</span> et tout <span class="font-semibold">conseil technique</span> dont vous pourriez avoir besoin.
            </div>
          </CardContent>
        </Card>
      </div>
      <div class="flex">
        <Card
          key="1"
          class="group transition-shadow transition-all duration-300 transform shadow-md"
        >
          <CardContent className="justify-between text-center">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4">
              <Icon name="heroicons:user-group" class="min-w-12 min-h-12"/>
              Démonstrations & Tests des Équipements
            </div>
            <div class="leading-relaxed text-gray-900">
              <span class="font-semibold">Démonstrations et tests guidés</span> pour vous permettre d’observer l’équipement en action.
              <br>
              <br>
              Vos équipes choisissent en toute sérénité la solution la mieux <span class="font-semibold">adaptée à vos besoins</span> techniques et opérationnels.
            </div>
          </CardContent>
        </Card>
      </div>
      <div class="flex">
        <Card
          key="1"
          class="group transition-shadow transition-all duration-300 transform shadow-md"
        >
          <CardContent className="justify-between text-center">
            <div class="text-lg font-semibold mb-6 mt-2 flex items-center gap-4">
              <Icon name="heroicons:academic-cap" class="min-w-12 min-h-12"/>
              Formation & Transfert de Compétences
            </div>
            <div class="leading-relaxed text-gray-900">
              <span class="font-semibold">Formations pratiques et adaptées</span>, pour maximiser l’efficacité et la maîtrise de vos équipements.
              <br>
              <br>
              Nous accompagnons le transfert des compétences afin d’assurer une <span class="font-semibold">utilisation sûre et fluide</span> en contexte clinique.
            </div>
          </CardContent>
        </Card>
      </div>
    </div>
  </div>
</section>
